@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Commonly shared styles */

header,
main {
  padding: 0 100px;
}

header ul {
  list-style: none;
}

.display-flex {
  display: flex;
}

a {
  text-decoration: none;
}

.text-orange {
  color: #ff5400;
}

.text-dark {
  color: #131318;
}

.text-grey {
  color: #5a5a5d;
}

.btn-primary {
  background: #ff5400;
  color: #fff;
  border: none;
  padding: 14px 34px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.title-primary {
  font-size: 2.5rem;
  font-weight: 800;
  color: #131318;
}

/* Header styles */

/* ==== Navbar styles ==== */

.navbar {
  justify-content: space-around;
  align-items: center;
}

.brand {
  align-items: center;
  gap: 16px;
}

.brand-logo {
  width: 45px;
  height: 40px;
}

.nav-links {
  gap: 32px;
}

.nav-link {
  color: #424247;
}

.menu-icon {
  display: none;
}

/* ==== Banner styles ====  */
.hero {
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("Images/banner.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;

  align-items: center;
  justify-content: center;

  text-align: center;
  max-width: 1180px;
  margin: 50px auto;
}

.hero-content {
  color: #ffffff;
  max-width: 800px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero-subtitle {
  font-size: 1rem;
  font-weight: 400;
  max-width: 660px;
}

.search-form {
  margin-top: 32px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

.search-form input,
.search-form select {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  width: 160px;
  color: rgba(19, 19, 24, 0.5);
}

.search-icon {
  width: 30px;
  height: 30px;
}

.search-form button {
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Main section styles  */

/* ==== Popular Tours section ====  */

.popular-tours {
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
}

.popular-tours-details {
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.popular-tours-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.popular-tours-point {
  padding: 5px 0;
  flex-direction: column;
  gap: 10px;
}

.popular-tours-img {
  max-width: 530px;
  height: 550px;
}

/* Responsive adjustments */

/* ==== Mobile screen ==== */

@media screen and (max-width: 576px) {
  header,
  main {
    padding: 0 20px;
  }

  .hero {
    min-height: 500px;
    border-radius: 12px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 350px;
  }

  .menu-item {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .search-form {
    flex-direction: column;
    width: 80%;
    margin: 32px auto 0 auto;
  }

  .search-form select {
    width: 100%;
  }

  .search-form input {
    width: 88%;
  }

  .search-form button {
    padding: 10px;
  }

  .popular-tours {
    flex-direction: column;
  }

  .popular-tours-img {
    max-width: 100%;
    height: auto;
  }
}

/* ==== Tablet screen ==== */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  main {
    padding: 0 40px;
  }

  .hero {
    min-height: 600px;
    border-radius: 12px;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 550px;
  }

  .menu-item {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .search-form {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    width: 70%;
    margin: 32px auto 0 auto;
  }

  .search-form select {
    width: 100%;
  }

  .search-form input {
    width: 92%;
  }

  .search-form button {
    padding: 10px;
  }
  .popular-tours {
    flex-direction: column;
  }

  .popular-tours-img {
    max-width: 100%;
    height: auto;
  }
}

/* ==== IPad Pro adjustments ====  */

@media screen and (min-width: 993px) and (max-width: 1200px) {
  header,
  main {
    padding: 0 60px;
  }

  .hero {
    min-height: 600px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.5;
  }

  .popular-tours {
    flex-direction: column;
  }

  .popular-tours-img {
    max-width: 100%;
    height: auto;
  }
}
